<h3>New hook: Slack Incoming Webhook</h3>

<%= form_for @hook do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: ["form-control"], placeholder: 'NewPost' %>
  </div>

  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: ["form-control"], placeholder: 'Incoming webhook URL' %>
  </div>

  <div class="form-group">
    <%= f.label :text %><br>
    <%= f.text_field :text, class: ["form-control"], placeholder: 'A New Post Arrived!' %>
  </div>

  <div class="form-group">
    <%= f.label :channel %><br>
    <%= f.text_field :channel, class: ["form-control"], placeholder: '#lodge' %>
  </div>

  <div>
    <span>Events</span>
    <div class="checkbox">
      <%= f.label :on_article_stocked do%>
        <%= f.check_box :on_article_posted %>
	<%= @hook.class.human_attribute_name :on_article_posted %>
      <% end %>
    </div>

    <div class="checkbox">
      <%= f.label :on_article_stocked do%>
        <%= f.check_box :on_article_edited %>
	<%= @hook.class.human_attribute_name :on_article_edited %>
      <% end %>
    </div>

    <div class="checkbox">
      <%= f.label :on_article_stocked do%>
        <%= f.check_box :on_article_commented %>
	<%= @hook.class.human_attribute_name :on_article_commented %>
      <% end %>
    </div>

    <div class="checkbox">
      <%= f.label :on_article_stocked do%>
        <%= f.check_box :on_article_stocked %>
	<%= @hook.class.human_attribute_name :on_article_stocked%>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: ["btn", "btn-success"] %>
  </div>
<% end %>

